body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.button-back-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: black;
    border-radius: 5px;
}

.button-back,
.button-register,
.button-copy {
    background-color: #ff8c00;
}

.alert-info,
.contact-info {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 1px;
    background-color: #fff;
    width: 100%;
    /* 100% wide */
}

.alert-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.alert-details {
    width: 55%;
    /* wider */
    min-height: 200px;
    /* Minimun hight */
}

.contact-info {
    width: 40%;
    /*  wider */
    min-height: 170px;
    /* Minimun hight */
    background-color: #ffffff;
    padding: 100px;
    /* more internal space */
    border-radius: 8px;
    border: 1px solid #ddd;
    align-self: flex-start;
    /* alloew content to be always on top*/
    text-align: center;
    /* Centers the title*/
}

.alert-info h3,
.contact-info h3 {
    margin-top: 0;
    padding-top: 0;
}

.criticality {
    display: flex;
    align-items: center;
    gap: 5px;
}

.criticality div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #000;
    /* opciotal border*/
}

.low {
    background-color: green;
    /* Low criticality Color */
}

.medium {
    background-color: yellow;
    /* Mid criticality Color */
}

.high {
    background-color: red;
    /* High criticality Color */
}

.description-box {
    background-color: #ffffff;
    padding: 20px;
    /* more internal space */
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 20px;
    /* Bigger Margin top*/
    min-height: 150px;
    /* Minimum hight */
    height: 200px;
}

.contact-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.contact-table th,
.contact-table td {
    border: #ddd;
    padding: 1px;
    text-align: left;
}

.contact-table th {
    background-color: #f2f2f2;
}

.button-icon {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.center {
    text-align: center;
}

.navbar {
    background-color: #4a4a4a;
    padding: 1em;
    color: white;
    display: flex;
    justify-content: space-between;
    /* Cambiado de center a space-between */
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar .profile {
    margin-left: auto;
    /* Esto moverá "Mi perfil" al extremo derecho */
}