.title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: black;
    font-weight: normal;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.button-back-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-left: 10px;
}

button {
    padding: 10px 20px;
    border: 0.5px solid #000000;
    cursor: pointer;
    color: black;
    font-weight: normal;
    border-radius: 5px;
    background-color: transparent;
}

.button-back,
.button-register,
.button-copy {
    background-color: #ff8c00;
    color: black;
    font-weight: normal;
}

.alert-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: black;
    font-weight: normal;
}

.alert-info h3,
.contact-info h3 {
    margin-top: 0;
    padding-top: 0;
    color: black;
    font-weight: normal;
}

.description-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 20px;
    min-height: 150px;
    height: 200px;
    color: black;
    font-weight: normal;
}

.contact-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    color: black;
    font-weight: normal;
}

.center {
    text-align: center;
    color: black;
    font-weight: normal;
}

.search-section {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: normal;
}

.search-section .form-label {
    margin-bottom: 0;
    color: black;
    font-weight: normal;
}

.search-section input {
    width: 100%;
    color: black;
    font-weight: normal;
}

.search-section .btn-register {
    background-color: #ff8c00;
    color: black;
    font-weight: normal;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.table thead th {
    background-color: #ff8c00;
    color: black;
    font-weight: normal;
}

.no-link {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

button:hover {
    background-color: #e07b00;
    color: black;
    transform: scale(1.05);
}
