<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="/assets/css/login-page.css">
</head>

<body>
    <div class="video-background">
        <video autoplay muted loop>
            <source src="/assets/media/fondo_login.mp4" type="video/mp4">
            Tu navegador no soporta el video en fondo.
        </video>
    </div>

    <div class="login-container">
        <!-- Logo -->
        <img src="/assets/media/logo.png" alt="Logo OB Group">

        <!-- Título del login-->
        <h2>Gestión de Alertas<br>NOC & SOC</h2>

        <!-- Campo de usuario -->
        <input type="text" placeholder="Nombre de usuario" required>

        <!-- Campo de contraseña -->
        <input type="password" placeholder="Contraseña" required>

        <!-- Opción de guardar datos de ingreso -->
        <div class="remember">
            <input type="checkbox" id="remember">
            <label for="remember">¿Desea guardar los datos de ingreso?</label>
        </div>

        <!-- Botón de ingreso -->
         <a href="common.html">
        <button type="submit">Ingresar</button>
    </a>
    </div>

</body>
</html>